# Copyright (c) 2019 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

# imsdatadaemon starts with root and UID will be downgraded to RADIO.
service vendor.ims_rtp_daemon /vendor/bin/ims_rtp_daemon_HALIUM_DISABLED
    disabled
    override
    class main
    user radio
    group radio vendor_qti_diag inet log
