#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd -padaptation-xiaomi-marble-configs --no-start brightness.service droidian-perf.service marble-afterboot.service marble-dt2w.service
