[Unit]
Description=Brightness
Requires=lxc@android.service
After=phosh.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo 4095 > /sys/class/backlight/panel0-backlight/brightness'

[Install]
WantedBy=multi-user.target
