[Unit]
Description=xiaomi-marble startup service
Before=android-mount.service

[Service]
Type=oneshot
ExecStart=/usr/lib/adaptation-xiaomi-marble/startup.sh

[Install]
WantedBy=multi-user.target
