[Unit]
Description=xiaomi-marble after boot service
After=phosh.service

[Service]
Type=oneshot
ExecStart=/usr/lib/adaptation-xiaomi-marble/afterboot.sh

[Install]
WantedBy=multi-user.target
